<mat-card class="class="my-custom-card>
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>Vision</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/Mantenimiento/assets/20210810_170209.jpg" alt="Mision">
    <mat-card-content>
      <p>
        Somos una empresa dedicada al diseño, elaboración y mantenimiento de espacios verdes, desarrollo de proyectos de apoyo a la agricultura, y mantenimiento y operación de plantas de tratamiento de aguas residuales y potable, destinados a organizaciones que desean reducir sus impactos o generar ambientes armónicos y agradables en sus instalaciones, ubicadas en la ciudad de Bogotá, la sabana y municipios aledaños, sujetos a su contexto y necesidades, generando valor a través de propuestas creativas y sostenibles infundiendo el trabajo justo y responsable de sus colaboradores

      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Vision</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/Mantenimiento/assets/20150401_074813.jpg" alt="Vision">
    <mat-card-content>
      <p>
        Para el 2022 “Mantenimiento de poda y jardinería Jose Aponte” será una empresa reconocida por su compromiso ambiental y social en la ciudad de Bogotá, la sabana y los municipios aledaños que presentan alta actividad industrial,ofreciendo servicios de la mejor calidad y construyendo relaciones de valor y permanentes con sus clientes por medio de propuestas responsables e innovadoras.
      </p>
    </mat-card-content>
  </mat-card>